<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blogs</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="../assets/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/39c8bc8c71.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css\framework.css">
    <link rel="stylesheet" href="css\layout.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="../css/modal.css">
    <link rel="stylesheet" href="../css/style.css">
    
</head>

<body>
<div id="particles-js">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/wearable">Wearable</a></li>
                <li><a href="/food">Food</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/upload">Upload a blog</a></li>
                <li><a href="/favourites">Favourites</a></li>
                <li><a href="/signout">Sign Out</a></li>
            </ul>
        </div>
        <!--put everything in newww -->
        <div id="page-content-wrapper">
            <nav class="topnav"><div class="nav-wrapper">
                <ul>
                    <li><a id="menu-toggle"><i class="fas fa-align-justify"></i></a></li>
                    <li><h1>TrendGetter</h1></li>
                </ul>
            </div></nav>
            
            <div class="wrapper row2">
                <section class="hoc container clear"> 
                  <div class="sectiontitle">
                    <h1 style="color: aliceblue; font-size: 4.5rem;margin-top: 4.5rem;font-family: 'Alfa Slab One', cursive;">Have a look</h1>
                    <h2 style="color: aliceblue;font-family: 'Alfa Slab One', cursive;font-size: 2rem;word-spacing: 5px;letter-spacing: 4px;">At some cool blogs</h2>
                  </div>
                  <div id="latest" class="group">
                    <article class="one_third first"><a class="imgover" href="#"><img src="assets\images\19.jpg" alt=""></a>
                      <div class="excerpt">
                        <h6 class="heading">Elementum laoreet lorem donec</h6>
                        <p>Pede nam quis mauris nunc volutpat elementum sapien in hendrerit justo non nisl sed dictum libero et nisi.</p>
                        <footer><a href="#">Read More <i class="fas fa-angle-right"></i></a></footer>
                      </div>
                    </article>
                    <article class="one_third"><a class="imgover" href="#"><img src="assets\images\19.jpg" alt=""></a>
                      <div class="excerpt">
                        <h6 class="heading">Vestibulum accumsan sagittis</h6>
                        <p>Orci nulla purus pellentesque risus magna vulputate vitae sodales in aliquam at tortor praesent tincidunt.</p>
                        <footer><a href="#">Read More <i class="fas fa-angle-right"></i></a></footer>
                      </div>
                    </article>
                    <article class="one_third"><a class="imgover" href="#"><img src="assets\images\19.jpg" alt=""></a>
                      <div class="excerpt">
                        <h6 class="heading">Lorem in odio pellentesque at</h6>
                        <p>Donec faucibus lorem ut neque pellentesque quam donec imperdiet nisl sed euismod ullamcorper tortor cras.</p>
                        <footer><a href="#">Read More <i class="fas fa-angle-right"></i></a></footer>
                      </div>
                    </article>
                    <div style="height: 1rem;"></div>
                    <article class="one_third first"><a class="imgover" href="#"><img src="assets\images\19.jpg" alt=""></a>
                        <div class="excerpt">
                          <h6 class="heading">Lorem in odio pellentesque at</h6>
                          <p>Donec faucibus lorem ut neque pellentesque quam donec imperdiet nisl sed euismod ullamcorper tortor cras.</p>
                          <footer><a href="#">Read More <i class="fas fa-angle-right"></i></a></footer>
                        </div>
                      </article>
                      <article class="one_third"><a class="imgover" href="#"><img src="assets\images\19.jpg" alt=""></a>
                        <div class="excerpt">
                          <h6 class="heading">Lorem in odio pellentesque at</h6>
                          <p>Donec faucibus lorem ut neque pellentesque quam donec imperdiet nisl sed euismod ullamcorper tortor cras.</p>
                          <footer><a href="#">Read More <i class="fas fa-angle-right"></i></a></footer>
                        </div>
                      </article>
                      <article class="one_third"><a class="imgover" href="#"><img src="assets\images\19.jpg" alt=""></a>
                        <div class="excerpt">
                          <h6 class="heading">Lorem in odio pellentesque at</h6>
                          <p>Donec faucibus lorem ut neque pellentesque quam donec imperdiet nisl sed euismod ullamcorper tortor cras.</p>
                          <footer><a href="#">Read More <i class="fas fa-angle-right"></i></a></footer>
                        </div>
                      </article>
                  </div>
                  
                  
                </section>
              </div>
        </div>
    </div>
</div>

<script src="/node_modules/particles.js/particles.js"></script>
<script src="/node_modules/particles.js/demo/js/app.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
<script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
